<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Comment | Get Travel</title>

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!--    font css-->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='cm_style.css') }}" rel="stylesheet">
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        body {
            font-family: 'Jua', sans-serif;

        }

        .mycomment-title{
            font-size: 50px;
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function () {
            get_mycomments('{{ user_info.username }}')
        })

        function get_mycomments(username) {


            $("#comment-box").empty()
            $.ajax({
                type: "GET",

                url: `/get_mycomments?username_give=${username}`,

                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let comments = response["comments"]
                        console.log(comments)
                        for (let i = 0; i < comments.length; i++) {
                            let comment = comments[i]
                            let time_post = new Date(comment["date"])
                            let html_temp = `<div class="box" id="${comment["_id"]}">
                                                <article class="media">
                                                    <div class="media-left">
                                                        <a class="image is-64x64" href="/user/${comment['username']}">

                                                            <img class="is-rounded" src="/static/${comment['profile_pic_real']}"
                                                                 alt="Image">
                                                        </a>
                                                    </div>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p>
                                                                <strong>${comment['profile_name']}</strong> <small>@${comment['username']}</small> <small>${time_post}</small>
                                                                <br>
                                                                ${comment['comment']}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>`
                            $("#comment-box").append(html_temp)
                        }
                    }
                }
            })
        }

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

    </script>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img class="logo-img" src="../static/logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Mypage
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" onclick="window.location.href='/mypage'">
                            My Comment
                        </a>
                        <a class="navbar-item" onclick="window.location.href='/mylike'">
                            My favorite
                        </a>
                    </div>
                </div>
                {% if user_info.username == 'admin' %}

                    <a class="navbar-item" onclick="window.location.href='/admin'">
                        Admin
                    </a>
                {% endif %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" onclick="javascript:sign_out();">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="pic-title">
        <img class="back_img" src="../static/1.jpg">
        <span class="main-title">GET TRAVEL</span>
    </div>
    <div class="mycomment-title">
        나의 후기
    </div>
    <section class="section">
        <div id="comment-box" class="container">

        </div>
    </section>
</body>
</html>